@import 'picnic.min.css';

html, * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  transition: unset !important;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  display: grid;
  grid-template-rows: auto 1fr;
}

body > header {
  position: fixed;
    z-index: 1000;
}

body > header nav {
  font-size: 90%;
  background-color: #448acc;
  border-bottom: 1px solid #ccc;
  color: #fff !important;
}

nav .burger ~ .menu { 
  background-color: #448acc;
}
  

body > header nav .brand {
  font-size: 120%;
}

body > main {
  padding: 3em;
}

.sdimage {
  font-size: 80%;
}

.sdimage dl {
  font-size: 96%;
  color: #566573;
}

.sdimage dt {
  font-weight: 500;
}

.sdimage dd {
  margin-left: 1em;
}

.sdimage h3 {
  font-size: 120%;
  font-weight: 500;
  color: #1C2833;
}
