@import 'picnic.min.css';

html, * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  transition: unset !important;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  display: grid;
  grid-template-rows: auto 1fr;
}

body > header {
  position: fixed;
}

body > main {
  padding: 2em;
}

.card {
  z-index: -1;
}

.sdimage {
  font-size: 80%;
}

.sdimage dl {
  font-size: 96%;
  color: #566573;
}

.sdimage dt {
  font-weight: 500;
}

.sdimage dd {
  margin-left: 1em;
}

.sdimage h3 {
  font-size: 120%;
  font-weight: 500;
  color: #1C2833;
}
