{% extends "skel.html" %}
{% block page_title %}Pi2/3 case{% endblock %}
{% block main %}
{% filter markdown %}

# Case for Raspberry Pi2 and Pi3

{{image('cases/pi/pi2_pi3',"./images/pi3.jpg")}}

This is the case for the Raspberry Pi2 or Pi3 itself. If you have a Raspberry
Pi4 then please have a look [here](../pi4).

{{ stltable( {
  "paths": [ "cases/pi/pi2_pi3", "cases/pi/pi2_pi3" ],
  "names": [ "PI2/PI3 bottom", "PI2/PI3 top" ],
  "stls":  [ "pi_bottom", "pi_top" ]
})}}

Top case variants with slot for the Raspberry PI Camera and DSI dislay as
well as one with extended 40 pin GPIO slot which also fits the connectors of 40 pi extension cables:

{{ stltable( {
  "paths": [ "cases/pi/pi2_pi3", "cases/pi/pi2_pi3" ],
  "names": [ "Camera and display slot", "Extended GPIO slot" ],
  "stls":  [ "pi_top_with_ribbon_slot", "top_extended" ]
})}}

A cover for the GPIO slot can be used to protect the GPIO slot when no HAT
or display is being placed on top of the Pi.

{{ stltable( {
  "paths": [ "cases/pi/common" ],
  "names": [ "Cover" ],
  "stls":  [ "GPIO-Abdeckung" ]
})}}

{% endfilter %}
{% endblock %}
