{% extends "cases_skel_de.html" %}
{% block page_title %}Pi2/3-Gehäuse{% endblock %}
{% block main %}
{% filter markdown %}

# Gehäuse für Raspberry-Pi2 und Pi3

{{image('cases/pi/pi2_pi3',"./images/pi3.jpg")}}

Dies ist das Gehäuse für den Raspberry-Pi2 und Pi3 selbst. Ein Gehäuse
für den Raspberry-Pi4 findet sich [hier](../pi4).

{{ stltable( {
  "paths": [ "cases/pi/pi2_pi3", "cases/pi/pi2_pi3" ],
  "names": [ "PI2/PI3-Wanne", "PI2/PI3-Deckel" ],
  "stls":  [ "pi_bottom", "pi_top" ]
})}}

Zusätzlich werden vier Senkkopf-Schrauben M2,5 in 12mm Länge benötigt.

Deckel-Varianten mit einem Schlitz für die Raspberry-Pi-Kamera und
DSI-Display sowie eines mit erweiterter GPIO-Öffnung in die der
Stecker eines 40-poligen Verlängerungskabels passt:

{{ stltable( {
  "paths": [ "cases/pi/pi2_pi3", "cases/pi/pi2_pi3" ],
  "names": [ "Schlitz für Kamera und Display", "Erweiterte GPIO-Öffnung" ],
  "stls":  [ "pi_top_with_ribbon_slot", "top_extended" ]
})}}

Eine Abdeckung für den GPIO-Anschluss kann verwendet werden, um
den GPIO-Anschluss zu schützen, wenn kein HAT und kein Bildschirm
auf den Raspberry-Pi gesteckt wird:

{{ stltable( {
  "paths": [ "cases/pi/common" ],
  "names": [ "Abdeckung" ],
  "stls":  [ "GPIO-Abdeckung" ]
})}}

{% endfilter %}
{% endblock %}
