{% extends "skel.html" %}
{% block page_title %}Gehäuse{% endblock %}
{% block main %}
{% filter markdown %}

# Gehäuse

Der TX-Pi ist besonders in der fischertechnik-Welt recht ungeschützt und
die 9V-Spannungen mit denen dort hantiert werden können für den Raspberry-Pi
und die übrigen Komponenten fatal sein. Ein Gehäuse schützt den Pi und
die anderen Komponenten und ermöglicht zusätzlich die stabile Befestigung
am übrigen Modell.

{{ image('cases', 'images/tx-pi-cases.jpg')}}

Mehr hilfreiche Informationen zur Unterstützung bei der Auswahl
des richtigen Gehäuses finden sich [hier]({{url_for('cases_selection',lang=LANG)}}).

  - Raspberry-Pi
    - [Raspberry-Pi2 und Pi3]({{ url_for('cases_pi2_pi3', lang=LANG) }})
    - [Raspberry-Pi4]({{ url_for('cases_pi4', lang=LANG) }})
  - Displays
    - [Waveshare-3,2-Zoll und kompatibel]({{ url_for('cases_displays_32inch', lang=LANG) }})
    - [Waveshare-3,5-Zoll und kompatibel]({{ url_for('cases_displays_35inch', lang=LANG) }})
[//]: # (     - [Waveshare-4-Zoll und kompatibel]({-{ url_for('cases_displays_4inch', lang=LANG) }}) )
  - HATs
[//]: # (     - [TX-Pi-HAT/ft-HAT]({-{ url_for('cases_hats_tx_pi_hat', lang=LANG) }}))
[//]: # (     - [TX-Pi-I2C-Breakout und Spannungsversorgung]({-{ url_for('cases_hats_i2c_pwr', lang=LANG) }}))
[//]: # (     - [Pi4-Kühl-HAT]({-{ url_for('cases_hats_cooler', lang=LANG) }}))
  - Zubehör
[//]: # (     - [Clips, Ständer, ...]({-{ url_for('cases_accessories_clips_stands', lang=LANG) }}))
[//]: # (     - [PiPower-Spannungsversorgung]({-{ url_for('cases_accessories_pipower', lang=LANG) }}))

{% endfilter %}
{% endblock %}
