{% extends "skel.html" %}
{% block page_title %}TX-Pi HAT{% endblock %}
{% block main %}
{% filter markdown %}

# TX Pi HAT / ft HAT

{{image('cases/hats/tx-pi-hat', 'images/tx-pi-hat.jpg', "HAT with breakout board") }}

The TX-Pi HAT can be used with the Raspberry Pi2, Pi3 and Pi4. The USB
and Ethernet connectors of the Pi then protrude into the are of the
HATs bottom case. The HATs case thus needs cutouts in the bottom to
accomodate the connectors of the Pi. Since the Pi2 and Pi3 have their
connectors at different locations then the Pi4. The bottom case of the
HAT must be choosen to fit the connectors of the Raspberry Pi below.

{{ stltable( {
  "paths": [ "cases/hats/tx-pi-hat","cases/hats/tx-pi-hat","cases/hats/tx-pi-hat" ],
  "names": [ "Bottom for use with Pi4", "Bottom for use with Pi2/Pi3","Top" ],
  "stls":  [ "Exp_Wanne","Exp_Wanne_Pi3","Exp_Deckel" ]
})}}

You will also need four M2.5x12mm countersunk screws.

You may have to bend the part of the top covering the power button a
little bit to prevent it from permanently pressing the button.

## Breakout board

The top side of the HAT is unusable if a display is mounted
on its top. Thus the fischertechnik connectors of the HAT
are connected via the so-called breakout board.

A mounting plate for the breakout board allows to mount the board at
the model. The mounting plate exists in two versions. One comes with a
seperate cover to protect the PCB and the connectors and to match the
style of the other cases.  The basic version depicted below has no top
cover.

{{image('cases/hats/tx-pi-hat', 'images/breakout_mounted.jpg', "Breakout mounted on basic plate") }}

{{ stltable( {
  "paths": [ "cases/hats/tx-pi-hat","cases/hats/tx-pi-hat","cases/hats/tx-pi-hat" ],
  "names": [ "Mounting plate basic", "Mounting plate bottom","Mounting plate top" ],
  "stls":  [ "breakout_base","Breakout_Platine_Unterteil","Breakout_Platine_Deckel" ]
})}}

{% endfilter %}
{% endblock %}
