{% extends "cases_skel_en.html" %}
{% block page_title %}Pi4 case{% endblock %}
{% block main %}
{% filter markdown %}

# Case for Raspberry Pi4

{{image('cases/pi/pi4',"./images/pi4.jpg")}}

This is the case for the Raspberry Pi4 itself (the one with the
blue USB connector in the middle). If you have a Raspberry
Pi2 or Pi3 then please have a look [here](../pi2_pi3).

{{ stltable( {
  "paths": [ "cases/pi/pi4","cases/pi/pi4" ],
  "names": [ "PI4 bottom", "PI4 top" ],
  "stls":  [ "TX-Pi4-Wanne", "TX-Pi4-Deckel" ]
})}}

Additionally four countersunk M2.5 screws of 12mm length are needed.

There are no variants of this case. This version already has the slot for
the PI camera flex cable in the lid.

A cover for the GPIO slot can be used to protect the GPIO slot when no HAT
or display is being placed in top of the Pi.

{{ stltable( {
  "paths": [ "cases/pi/common" ],
  "names": [ "Cover" ],
  "stls":  [ "GPIO-Abdeckung" ]
})}}

{% endfilter %}
{% endblock %}
