{% extends "cases_skel_en.html" %}
{% block page_title %}Pi4 cooling HAT{% endblock %}
{% block main %}
{% filter markdown %}

# Pi4 cooling HAT

{{image('cases/hats/CoolerHAT', 'images/CoolerHAT_01.jpg', "Cooler HAT") }}

If you want to use your RPi without display attached to the top, you
might want to install this cooler HAT. Especially the Pi4 performs
much better with active cooling.

The Cooler HAT provides a mount for a standard 30x30x10mm fan. In case
you want to use a 30x30x8mm fan, print out the spacer.  Make sure that
your fan runs on 5V. Intake of the fan should be from below, the air
should exit through the top.

Use a 2-pin (2 wire) fan and connect the (+) line to pin 4 of the
GPIO, the (-) line to pin 6.

There are four versions of the bottom. Two for use with the Pi2/Pi3 and
two for use with the Pi4. There's each a version with an additional slot
for use with a Raspberry Pi camera.

{{ stltable( {
  "paths": [ "cases/hats/CoolerHAT", "cases/hats/CoolerHAT", "cases/hats/CoolerHAT", "cases/hats/CoolerHAT" ],
  "names": [ "Bottom for Pi3","Bottom with cable slot for Pi3","Bottom for Pi4","Bottom with cable slot for Pi4" ],
  "stls":  [ "TX-Pi3_CoolerHAT_Wanne","TX-Pi3_CoolerHAT_Wanne_Kabelschlitz","TX-Pi4_CoolerHAT_Wanne","TX-Pi4_CoolerHAT_Wanne_Kabelschlitz" ]
})}}

There's only one version of the top lid and a spacer.

{{ stltable( {
  "paths": [ "cases/hats/CoolerHAT", "cases/hats/CoolerHAT" ],
  "names": [ "Spacer", "Top" ],
  "stls":  [ "TX-Pi_CoolerHAT_Spacer","TX-Pi_CoolerHAT_Deckel" ]
})}}

{% endfilter %}
{% endblock %}
