{% extends "skel.html" %}
{% block page_title %}PiPower{% endblock %}
{% block main %}
{% filter markdown %}

# 5V-USB-Pi-Versorgungsmodul

{{image('cases/accessories/pipower', 'images/pipower.jpg', "5V-USB-Pi-Versorgungsmodul") }}

Dies ist das Gehäusedesign für eine sehr einfachen und preisgünstigen
Spannungsversorgung für den Raspberry-Pi. Der Adapter wandelt die
typischerweise im fischertechnik-Umfeld genutzten 9 Volt in 5 Volt wie
sie vom Raspberry-Pi benötigt werden. Wenn lediglich eine
Spannungsversorgung benötigt wird kann dieser Adapter den [TX-Pi
HAT](../../hats/tx-pi-hat) ersetzen.

Dieser Adapter basiert auf den billig online erhältlichen LM2596-basierten
DC/DC-Wandlern, wie sie leicht auf Ebay und ähnlichen Markplätzen zu finden
sind.

Für den Anschluss an die fischertechnik-Seite werden zwei 2,5mm-Bundhülsen
mit 8,4mm Länge benötigt.

Den Anschluss an den Raspberry-Pi2 oder Pi3 erledigt ein kurzes USB-Kabel.
Das Delock-82697-Kabel ist z.B. passend, aber jedes andere Micro-USB-Kabel
kann passend zurechtgeschnitten werden.

{{image('cases/accessories/pipower', 'images/pipower_parts.jpg', "Teile für das Versorgungsmodul") }}

Die Bundhülsen und das Kabel werden direkt an den DC/DC-Konverter
gelötet und die Platine dann im Gehäuse verbaut. Zuätzlich kann das
USB-Kabel mit einem Kabelbinder im Gehäuse gesichert werden. Dann wird
der Wandler mit 9 Volt versorgt und mit einem Schraubendrehen und
einem Multimeter die Ausgangsspannung auf 5 Volt eingestellt.  Sobald
die Einstellung stimmt kann das Gehäuse mit zwei 6-8mm langen
M3-Flachkopfschrauben geschlossen werden.

{{image('cases/accessories/pipower', 'images/pipower_assembled.jpg', "Zusammengebautes Versorgungsmodul") }}

{{ stltable( {
  "paths": [ "cases/accessories/pipower","cases/accessories/pipower" ],
  "names": [ "Deckel","Wanne" ],
  "stls":  [ "top","bottom" ]
})}}

{% endfilter %}
{% endblock %}
