{% extends "skel.html" %}
{% block page_title %}Gehäuse für 3,5-Zoll-Bildschirme{% endblock %}
{% block main %}
{% filter markdown %}

# Bildschirmgehäuse für Waveshare-3,5-Zoll und kompatibel

{{image('cases/displays/3.5inch', 'images/display35.jpg') }}

## Wanne

### Zur Verwendung direkt auf einem Raspberry-Pi4

Die folgende Gehäusewanne wird verwendet, wenn der Bildschirm direkt
auf einem Raspberry-Pi4 (ohne HAT dazwischen) verwendet wird, da diese
Wanne Ausschnitte für die USB- und Ethernet-Buchsen des Raspberry-Pi4
hat.

{{ stltable( {
  "paths": [ "cases/displays/common" ],
  "names": [ "Wanne" ],
  "stls":  [ "Pi4_Display-Wanne" ]
})}}

### Zur Verwendung direkt auf einem Raspberry-Pi2 oder Pi3

Die folgende Gehäusewanne wird verwendet, wenn der Bildschirm direkt
auf einem Raspberry-Pi2 oder Pi3 (ohne HAT dazwischen) verwendet wird,
da diese Wanne Ausschnitte für die USB- und Ethernet-Buchsen des
Raspberry-Pi2 oder Pi3 hat.

Die Version mit dem Schlitz für das Kamerakabel ermöglicht es, das
Flachkabel der Raspberry-Pi-Kamera durch das Gehäuse zu führen. Dies
wird üblicherweise im Zusammenspiel mit einem Deckel für den Raspberry-Pi
verwendet, der ebenfalls einen Ausschnitt für das Kabel hat.

{{ stltable( {
  "paths": [ "cases/displays/common", "cases/displays/common" ],
  "names": [ "Normale Wanne","Wanne mit Kabelschlitz" ],
  "stls":  [ "display_v4_bottom","display_v4_bottom_with_ribbon_slot" ]
})}}

### Zur Verwendung mit einem HAT zwischen Pi und Bildschirm

Wenn ein HAT eingesetzt wird, dann ragen die USB- und Ethernet-Buchsen
des Raspberry-Pi in dessen Gehäusewanne hinein und reichen nicht bis
in den Bereich des Bildschirmgehäuses. Daher benötigt die Wanne des
Bildschirmgehäuses in dem Fall keine Ausschnitte für die Buchsen.

{{ stltable( {
  "paths": [ "cases/displays/common" ],
  "names": [ "Wanne" ],
  "stls":  [ "Display-Wanne_ohne_Öffnungen" ]
})}}

## Deckel

Die verschiedenen 3,5-Zoll-Bildschirme haben die zur Anzeige verwendete
akive Fläche an unterschiedlichen Positionen. Den Deckel gibt es daher
in drei Versionen für die A, B und andere Bildschirme von Drittherstellern.

{{ stltable( {
  "paths": [ "cases/displays/3.5inch", "cases/displays/3.5inch", "cases/displays/3.5inch" ],
  "names": [ '3,5-Zoll-Deckel "noname"' , '3,5-Zoll-Deckel Typ A', '3,5"-Zoll-Deckel Typ B' ],
  "stls":  [ "display35_top", "display_ws35a_top", "display_ws35b_top" ]
})}}

{% endfilter %}
{% endblock %}
