{% extends "skel.html" %}
{% block page_title %}TX-Pi – A Raspberry Pi for fischertechnik{% endblock %}
{% block main %}
<h1>TX-Pi – A Raspberry Pi for fischertechnik</h1>
<p>The aim of the TX-Pi project is to integrate the <a href="https://www.raspberrypi.org/">Raspberry Pi</a>
  with the <a href="http://www.fischertechnik.de">fischertechnik construction toy</a>.</p>

<div class="flex two-900 center">

  <div><p><center><img src="/static/images/tx-pi.jpg" style="max-width: 500px; width: 90%">
    <br>A complete TX Pi setup</center></p>
  </div>

  <div>
    <h3>Logical integration</h3>
    <p>The TX Pi project provides
      <a href="{{ url_for('software', lang=LANG) }}">software</a> for
      a satisfying user experience and compatibility with the
      fischertechnik TXT controller.</p>
    
    <h3>Electrical integration</h3>
    <p>The TX Pi project provides <a href="{{ url_for('electrical',
	lang=LANG) }}">hardware</a> for safe interfacing between the
	Raspberry Pi and the electrical fischertechnik components.</p>
    
    <h3>Mechanical integration</h3> 
    <p>The TX Pi project provides <a href="{{ url_for('cases',
      lang=LANG) }}">cases</a> for secure mechanical connections
      between the Raspberry Pi and the fischertechnik components.</p>
  </div>
</div>
    
<p><font color="red"><b>Neu:</b></font> Der <a href="{{ url_for('hat',lang=LANG) }}">TX-Pi-HAT</a> ist verfügbar.</p>

{% endblock %}
