{% extends "skel.html" %}
{% block page_title %}TX-Pi – Raspberry-Pi für fischertechnik{% endblock %}
{% block main %}
<h1>TX-Pi – Raspberry-Pi für fischertechnik</h1>
<p>Das Ziel des TX-Pi-Projekts ist es,
  den <a href="https://www.raspberrypi.org/">Raspberry-Pi</a> mit
  den <a href="http://www.fischertechnik.de">fischertechnik-Konstruktionsbaukästen</a>
  zu kombinieren.</p>

<div class="flex two-900 center">

  <div><p><center><img src="/static/images/tx-pi.jpg" style="max-width: 500px; width: 90%">
	<br>Ein komplettes TX-Pi-Setup</center></p>
  </div>

  <div>
    <p>Einige <a href="{{ lurl_for('prerequisites')
      }}">Voraussetzungen</a> sollten erfüllt sein, wenn man ein
      eigenes TX-Pi-System aufsetzen möchte.</p>
    
    <p><h3>Software</h3>
       Das TX-Pi-Projekt stellt <a href="{{ lurl_for('software')
        }}"> Software</a> bereit, um ein angenehmes
       Benutzererlebnis zu ermöglichen und Kompatibilität mit dem
       fischertechnik-TXT-Controller herzustellen.</p>
    
    <p><h3>Hardware</h3>
       Das TX-Pi-Projekt stellt <a href="{{ lurl_for('electrical')
       }}">Hardware</a> für die sichere Verbindung
       zwischen dem Raspberry-Pi und den elektrischen
       fischertechnik-Komponenten bereit.</p>
    
    <p><h3>Gehäuse</h3> 
        Das TX-Pi-Projekt stellt 3D-Druckvorlagen für <a href="{{
	lurl_for('cases') }}">Gehäuse</a> für eine stabile
	mechanische Verbindung zwischen dem Raspberry-Pi und den
	fischertechnik-Komponenten bereit.</p>
  </div>
</div>
    
<p><font color="red"><b>Neu:</b></font> Der <a href="{{ lurl_for('hat') }}">TX-Pi-HAT</a> ist verfügbar.</p>

{% endblock %}
