<!DOCTYPE html>
<html lang="{{ LANG }}">
<head>
  <meta charset="utf-8">
  <title>{% block page_title %}TX-Pi{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<header>
  <nav>
    <a href="{{ url_for('home', lang=LANG) }}" class="brand"><span>TX-Pi</span></a>
    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button">menu</label>
    <div class="menu">
      {% for item in MAIN_MENU %}
        <a href="{% if '/' not in item.url %}{{ url_for(item.url, lang=LANG) }}{% else %}{{ item.url }}{% endif %}" class="pseudo button{% if item.icon %} {{ item.icon }}{% endif %}">{{ item.name }}</a>
      {% endfor %}
    </div>
  </nav>
</header>
<main>{% block main %}{% endblock %}</main>
</body>
</html>
