{% macro title(a,b) %}
<h1><small>{{a}}</small><br>{{b}}</h1>
{% endmacro %}{% macro slideshow(list) %}
<div class="slideshow-container" style="max-width: 600px; margin: auto;">
  {% for i in range(list|length): %}<div class="slide fade">
    <img src="/static/images/{{list[i][0]}}" style="width:100%">
    <div class="caption">{{list[i][1]}}</div>
  </div>{% endfor %}
  <!-- The dots/circles -->
  <div class="dots" style="text-align:center">{% for i in range(list|length): %}
    <span class="dot" onclick="currentSlide({{i+1}})"></span>{% endfor %}
  </div>
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<script>
  var slideIndex = 1;
  showSlides(slideIndex);
  
  // Next/previous controls
  function plusSlides(n) {
      showSlides(slideIndex += n);
  }
  
  function nextSlide() {
      plusSlides(1);
  }
  
  // Thumbnail image controls
  function currentSlide(n) {
      showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("slide");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
	  slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
	  dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";

      if(window.timer != undefined) {
	  clearTimeout(window.timer);
      }
      window.timer = setTimeout(nextSlide, 5000)
  }
</script>
{% endmacro %}{% macro image(base,file,caption=None) %}
{% if caption == None: %}
<div align="center"><img style="max-width: 90%;" src="https://raw.githubusercontent.com/ftCommunity/tx-pi/master/{{base}}/{{file}}"></div>
{% else %}
<div align="center"><img style="max-width: 90%;" src="https://raw.githubusercontent.com/ftCommunity/tx-pi/master/{{base}}/{{file}}"><br><small>{{caption}}</small></div>
{% endif %}
{% endmacro %}{% macro stltable(data) %}
<div class="flex two-600 three-900 four-1200 center">{% for i in range(data["names"]|length): %}
  <div>
  <article class="card">
    <header>
      <div align="center">{{data["names"][i]}}</div>
    </header>
    <center><img src="https://raw.githubusercontent.com/ftCommunity/tx-pi/master/{{data["paths"][i]}}/images/{{data["stls"][i]}}.png"></center>
    <div align="center"><small>{{data["stls"][i]}}.stl</small></div>
    <footer>
      <button onclick="location.href='https://github.com/ftCommunity/tx-pi/blob/master/{{data["paths"][i]}}/{{data["stls"][i]}}.stl'">View</button>
      <button style="float:right;" onclick="location.href='https://raw.githubusercontent.com/ftCommunity/tx-pi/master/{{data["paths"][i]}}/{{data["stls"][i]}}.stl'">Download</button>
    </footer>
  </article>
  </div>{% endfor %}
</div>{% endmacro %}<!DOCTYPE html>
<html lang="{{ LANG }}">
<head>
  <meta charset="utf-8">
  <title>{% block page_title %}TX-Pi{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<header>
  <nav>
    <a href="{{ url_for('home', lang=LANG) }}" class="brand"><span>TX-Pi</span></a>
    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" style="font-size:1.4em;font-weight:700" class="burger pseudo button">&#9776;</label>
    <div class="menu">
      {% for item in MAIN_MENU %}
        <a href="{% if '/' not in item.url %}{{ url_for(item.url, lang=LANG) }}{% else %}{{ item.url }}{% endif %}" class="pseudo button{% if item.icon %} {{ item.icon }}{% endif %}">{{ item.name }}</a>
      {% endfor %}
    </div>
  </nav>
</header>
<main>{% block main %}{% endblock %}</main>
</body>
</html>
