{% extends "skel.html" %}
{% block page_title %}Software{% endblock %}
{% block main %}

{{ title("logische Integration", "TX-Pi-Software") }}

<p>Das TX-Pi-Projekt beinhaltet ein komplettes Software-Setup
  für den Raspberry-Pi. Es umfasst eine einfach zu benutzende
  Touchscreen-Oberfläche und kommt mit vorinstallierten
  Anwendungen sowie der Möglichkeit, weitere Anwendungen
  aus den App-Stores zu laden.</p>

{{ slideshow([
[ "p4_4inch_gui.jpg", "Pi4 führt die TX-Pi-Oberfläche aus" ],
[ "launcher_320x240.png", "Berührungsfreundliche Bedienoberfläche" ],
[ "busscanner.png", "System-Werkzeuge" ],
[ "3dprint.png", "Produktive Anwendungen" ]
])}}

<p>Die TX-Pi-Software greift viele Elemente auf, die für
  die <a href="https://cfw.ftcommunity.de/">Community-Firmware für den
  fischertechnik-TXT-Controller</a> geschrieben wurden, und kann die
  meisten Anwendungen, die dafür geschrieben wurden, auch auf dem
  Raspberry-Pi ausführen.</p>

<p>Durch seine viel höhere Leistung kann der TX-Pi alles, was der
  TXT-Controller kann und vieles mehr. Durch die Verwendung von Python
  als bevorzugte Programmierumgebung sind Anfänger wie
  Fortgeschrittene schnell in der
  Lage, <a href="https://cfw.ftcommunity.de/ftcommunity-TXT/de/programming/">eigene
  Anwendungen zu schreiben</a>.</p>

<h2>Erste Schritte</h2>

<p>
  Zur Zeit gibt es zwei Wege, eine TX-Pi-Softwareumgebung zu installieren:
  <ul>
    <li>Die Verwendung vorgefertigter<a href="{{ url_for('images', lang=LANG) }}">SD-Karten-Abbilder</a> verspricht eine einfache Installation.</li>
    <li>Die manuelle Installation unter Verwendung des <a href="{{ url_for('installation', lang=LANG) }}">Setup-Script</a> eignet sich für erfahrene Benutzer.</li>
  </ul>
</p>
{% endblock %}
